# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/
*.egg

# Storage
storage/history/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db